body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbbad8;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.notification {
    background-color: #4caf50;
    color:white;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none; 
}
button{
    padding: 8px 19px;
    background-color: rgb(225, 152, 217);
    border: none;
    border-radius: 5px;
    transition: background 0.5s;
    font-weight: bold;

}

button:hover{
    background-color: rgb(178, 39, 157);
}
